<template>
  <div class="home">
    <div class="container">
      <img
          src="../assets/home-logo.png"
          alt="image"
          class="home__logo"
      >
      <h1 class="home__title">
        Добро пожаловать!
      </h1>
      <div class="home__form">
        <div class="form__input--holder">
          <input
              type="text"
              class="form__input"
              name="login"
              id="login"
              required
          >
          <label for="login" class="form__label">Логин</label>
        </div>
        <div class="form__input--holder">
          <input
              type="password"
              class="form__input"
              name="password"
              id="password"
              required
          >
          <label for="login" class="form__label">Пароль</label>
        </div>
        <button class="form__submit">Войти</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuthorizationPage',
  components: {},
};
</script>

<style lang="scss">
.home {
  background: #1F93D5;
  min-height: 100vh;
  .container {
    width: 421px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    width: 361px;
    margin-top: 50%;
  }
  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #fff;
    margin: 66px 0 43px;
  }
  &__form {
    padding: 25px 23px 17px;
    background: #1A77AF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .form {
      &__input {
        background: #FAFAFA;
        border-radius: 8px;
        margin-bottom: 15px;
        width: 100%;
        height: 48px;
        border: none;
        outline: none;
        padding: 20px 24px 13px;
        font-size: 16px;
        line-height: 22px;
        color: #7B7F82;
        &--holder {
          position: relative;
        }
        &:focus ~ .form__label,
        &:not(:focus):valid ~ .form__label {
          top: 0;
          font-size: 8px;
        }
      }
      &__label {
        position: absolute;
        font-size: 16px;
        line-height: 22px;
        color: #7B7F82;
        top: 13px;
        left: 24px;
        transition: 0.3s all;
      }
      &__submit {
        width: 160px;
        background: #FFDA0A;
        border-radius: 8px;
        font-family: "Nunito Sans", sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #1A77AF;
        outline: none;
        border: none;
        padding: 13px 56px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          transition: all .3s;
        }
      }
    }
  }
}
</style>
