<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style lang="scss">
@font-face {
  font-family: "Nunito Sans";
  src: local("Nunito Sans"), url("./fonts/Nunito_Sans/NunitoSans-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  & * {
    box-sizing: border-box;
  }
}
</style>
